table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
  

table {
        border-collapse: collapse;
        width: 100%;
}

tr {
        border-bottom: 1px solid #ccc;
}

th {
        text-align: left;    
}